.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.connectivity-banner {
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
  margin-top: 10px;
}

.connectivity-banner.offline {
  background: rgb(230, 80, 80);
}

.connectivity-banner.online {
  background: rgb(60, 172, 78);
}
